body {
	background-image: url(imgs/hexellence_@2X.png);
	font-family: 'Montserrat', sans-serif;
	color: rgb(180, 180, 180);
}

#navbar {
	background: rgb(17, 15, 16);
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

.main {
	margin-top: 4em;
	padding-top: 2em;
	text-align: center;
	color: rgb(17, 15, 16);
	width: 100vw;
	height: 100vh;
}

@media only screen and (max-width: 600px) {
	.main {
		height: 100%;
	}
}

#about {
	width: 100%;
	padding-top: 2em;
}

.headshot {
	max-width: 250px;
	border: 2px solid rgb(134, 134, 134);
	border-radius: 50%;
	box-shadow: 0px 4px 6px 2px rgb(187, 187, 187);
}

#name {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

hr {
	border: 0;
	height: 2px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.title {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

.heading {
	padding: 1em 0 2em 0;
}

.contentSection {
	margin-top: 3em;
	margin-bottom: 3em;
	background: rgba(17, 15, 16, 0.85);
}

.contact-details {
	color: rgb(121, 39, 100);
	padding: .5em;
}

.contact-details:hover {
	color: rgb(26, 63, 184);
}

.contactIcons {
	text-align: center;
}
