body {
	background-image: url(imgs/hexellence_@2X.png);
	font-family: 'Montserrat', sans-serif;
	color: rgb(180, 180, 180);
}

#navbar {
	background: rgb(17, 15, 16);
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

#name {
	text-shadow: 2px 2px 2px rgb(126, 123, 123);
}

.main {
	margin-top: 5em;
	padding-top: 2em;
	text-align: center;
	color: rgb(17, 15, 16);
}

.textBlock {
	text-align: left;
}

.image {
	margin: 2em 0;
	text-align: center;
}

.headshot {
	max-width: 200px;
	border: 3px solid rgb(94, 94, 94);
	border-radius: 50%;
}

#name {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

hr {
	border: 0;
	height: 2px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.title {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

.heading {
	padding: 1em 0 2em 0;
}

.contentSection {
	margin: 3em 0;
	padding: 1em 1em;
	background: rgba(17, 15, 16, 0.85);
	border-radius: 2%;
}

.contact-details {
	color: rgb(121, 39, 100);
	padding: .5em;
}

.contact-details:hover {
	color: rgb(26, 63, 184);
}

.contactIcons {
	text-align: center;
}
