body {
	background-image: url("https://images.unsplash.com/photo-1529959545196-2f137c0af722?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	color: rgb(180, 180, 180);
}

#navbar {
	background: rgb(17, 15, 16);
}

.jumbotron {
	background: rgba(17, 15, 16, 0.85);
}

.display-4 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

hr {
	border-color: rgb(180, 180, 180);
}

.title {
	font-family: 'Raleway', sans-serif;
}

.heading {
	padding: 1em 0 2em 0;
}

#jumboDiv {
	padding-top: 5em;
	padding-bottom: 1em;
	text-align: center;
}

.mainSection {
	margin-top: 3em;
	margin-bottom: 3em;
	background: rgba(17, 15, 16, 0.85);
}

.contact-details {
	color: rgb(121, 39, 100);
	padding: .5em;
}

.contact-details:hover {
	color: rgb(26, 63, 184);
}

.contactIcons {
	text-align: center;
}
